.control-container{ overflow: hidden; }
.camera{ width: 500px;height: 500px; background: #737373; float: left; }
.control-panel{ padding-left: 520px; }
.btn-selected{ color:#333;background-color:#ebebeb;border-color:#adadad}