.control-container{ overflow: hidden; }
.camera{ width: 600px; background: #737373; float: left; }
.control-panel{ padding-left: 620px; }
.btn-selected{ color:#333;background-color:#ebebeb;border-color:#adadad}
.direction { color: #DF6B6B }